html, body {
    min-height: 100%;
    min-width: 100%;
}
.projectTabs {
    height: 100%;
    width: 20%;
}
#page {
    display: inline-flex;
    min-height: 100%;
    min-width: 100%;
}
#taskArea {
    height: 100%;
    width: 80%;
}